.main{
    background-color: black;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    height: auto;
    margin: 90px 0px 20px 100px;
    border: 1px solid rgb(86, 86, 86);
    padding: 10px;
    border-radius: 12px;
    color: white;
}

.btn{
    cursor: pointer;
    font-style: none;
    border: none;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    background-color: grey;
    box-shadow: 3px white;
}

.btn:active{
    box-shadow: 1px 1px 1px 1px lightgrey;
    transform: translateX(1px);
}

.image{
    width: 100%;
    height: 200px;
}